<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">Rails 101</a>
    </div>

    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav navbar-right">
        <% if current_user %>
          <li><%= link_to('登出', destroy_user_session_path, :method => :delete) %></li>
          <li><%= link_to('修改密码', edit_registration_path(:user)) %></li>
        <% else %>
          <li><%= link_to('注册', new_registration_path(:user)) %></li>
          <li><%= link_to('登陆', new_session_path(:user))%></li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>
